<div class="container">
    <ng-container *ngIf="cartList">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th><th>Name</th><th>DESCRIPTION</th><th>Quantity</th><th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of cartList">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.description}}</td>
                    <td>{{training.quantity}}</td>
                    <td>{{training.price | number:'0.2'}}</td>
                    <td><a class="btn btn-danger" (click)="deleteFromCartById(training.id)">Supprimer</a></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{total | currency:'EUR'}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a class="btn btn-success" (click)="makeOrder()">Commander</a></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>