<h1 *ngIf="isEditMode">Modifier formation</h1>
<h1 *ngIf="!isEditMode">Nouvelle formation</h1>

<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input placeholder="Nom" id="name" class="form-control" [(ngModel)]="training.name" name="name" required />
    </div>
    <div class="mb-3">
      <textarea placeholder="Description" id="description" class="form-control" [(ngModel)]="training.description"
        name="description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Prix (en €) :</label>
      <input id="price" type="number" class="form-control" [(ngModel)]="training.price" name="price" required />
    </div>
    <div id="Actions">
      <button class="btn" type="button" (click)="router.navigate(['/admin'])">Annuler</button>
      <button class="btn btn-dark" type="submit">Enregistrer</button>
    </div>
  </form>
</div>