nav a {
    color: white;
    text-decoration: none;
    transition: all ease 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 8px;
    width: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 35, 1) 0%, rgba(102, 102, 102, 0.1) 90%, rgba(102, 102, 102, 0) 100%);
    color: white;
    position: fixed;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    max-width: 70rem;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav li a {
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    height: 96px;
}

footer nav {
    border-top: 1px solid #e6e6e6;
    height: 100%;
    align-items: center;
}

footer nav * {
    margin-bottom: 0;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer svg {
    width: 20px;
    opacity: 0.45;
    transition: opacity ease 0.5s;
    cursor: pointer;
}

footer svg:hover {
    opacity: 1;
}

#Welcome {
    background-image: url(../assets/bg.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    color: white;
    margin-bottom: -10rem;
}