<div class="login-container">
    <h1>Connexion</h1>
    <form (ngSubmit)="login()">
        <div class="form-group">
            <input id="username" type="text" class="form-control" [(ngModel)]="username" name="username" required
                placeholder="Nom d'utilisateur" />
            <input id="password" type="password" class="form-control" [(ngModel)]="password" name="password" required
                placeholder="Mot de passe" />
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
        <button type="submit" class="btn btn-dark new">Nouveau ? Créer un compte</button>
    </form>
</div>