<div class="customer-container">
    <div>
        <h1>Infos client</h1>
        <form [formGroup]="myForm" (ngSubmit)="onSaveCustomer(myForm)">
            <div class="form-group">
                <input placeholder="Nom" type="text" formControlName="name" class="form-control">
                <input placeholder="Prénom" type="text" formControlName="firstName" class="form-control">
                <input placeholder="Adresse" type="text" formControlName="address" class="form-control">
                <input placeholder="Téléphone" type="text" formControlName="phone" class="form-control">
                <input placeholder="Adresse e-mail" type="text" formControlName="email" required class="form-control">
            </div>
            <button type="submit" class="btn btn-dark">Suivant</button>
        </form>
    </div>
</div>