.customer-container {
    margin: auto;
    width: 30rem;
    }

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-dark {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}